<html>
<head>
	<title> THE HOTEL HOTEL </title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1> The Hotel Hotel </h1>
	<h2> Welcome to the Hotel Hotel. </h2>
	<p> Take a look at our available accomodations here and book your room today! </p>
	<p> <a href="about">About the hotel</a> </p>
	<p> <a href="rooms">Accommodations on offer</a> </p>
	<p> <a href="reserve">Reserve a room</a> </p>
</body>
</html>
