<!DOCTYPE HTML>
<html>
<head>
	<title> THE HOTEL HOTEL </title>
	<link rel="stylesheet" href="style2.css">
</head>
<body>
	<h1> <a href="/"> The Hotel Hotel </a> </h1>
	<ul>
		<li> <a href="about">About the hotel</a> </li>
		<li> <a href="rooms">Accommodations on offer</a> </li>
	</ul>
<h2> Thank you. </h2>
<p> You chose <%= @r.rm %> for <%= @r.dt %>. </p>
</body>
</html>
