<!DOCTYPE HTML>
<html>
<head>
	<title> THE HOTEL HOTEL </title>
	<link rel="stylesheet" href="style2.css">
</head>
<body>
	<h1> <a href="/"> The Hotel Hotel </a> </h1>
	<ul>
		<li> <a href="about">About the hotel</a> </li>
		<li> <a href="reserve">Reserve a room</a> </li>
	</ul>
	<h2>Our rooms. </h2>
	<p>The Hotel Hotel Suite</p>
	<ul>
		<li> The ultimate in luxury and convenience. </li>
		<li> Enjoy privileges such as preferential seating in Buffet Buffet, members-only areas, and chaffeur service. </li>
		<li> Complementary room service, no holds barred. </li>
	</ul>
	<p>Premium Bungalows</p>
	<ul>
		<li> Your own luxurious home away from home, by the sea. </li>
		<li> Built to comfortably accomodate three. </li>
		<li> Complementary room service, no holds barred. </li>
	</ul>
	<p>Regular Bungalows</p>
	<ul>
		<li> Best-in-class service and accomodation.</li>
		<li> White sand beaches, at your door step. </li>
		<li> Enjoy complementary breakfast and unlimited drinks at Buffet Buffet.</li>
	</ul>
	<p>Standard Rooms</p>
	<ul>
		<li> A cut above the rest. </li>
		<li> The Hotel Hotel experience at the cheapest rates in the country. </li>
		<li> Enjoy complementary breakfast and unlimited drinks at Buffet Buffet.</li>
	</ul>
</body>
</html>
