body
{
	background: black;
}

h1
{
	font-variant: small-caps;
	font-family: "Georgia", "Times New Roman", sans-serif;
	color: #fff; 
}

h2
{
	font-family: "Helvetica Neue", sans-serif;
	color: #fff; 
}

p
{
	font-family: "Helvetica Neue", sans-serif;
	color: #fff; 
}

a
{
	text-decoration: none;
	color: #fff; 
}

li
{
	color: #fff; 
	font-family: "Helvetica Neue", sans-serif;
}